.DS_Store
.vs/
.cr/
bin/
obj/
src/**/tempkey.rsa
src/**/*log.txt
node_modules
/.vscode
packages/
src/Identity.IdentityServer.Host/Identity.IdentityServer.Host.csproj.user
src/Identity.UserManagement.Api/Identity.UserManagement.Api.csproj.user
src/Identity.UserManagement.Api/Identity.UserManagement.Api.xml
src/Identity.IdentityServer/Identity.IdentityServer.csproj.user
TestResults/
/src/Identity.UserManagement.Api.Host/Identity.UserManagement.Api.Host.csproj.user
*.jwk
*.user
core/src/Identity.IdentityServer.KeyManagement/sample/identityserver4_log.txt
core/src/Identity.IdentityServer.KeyManagement/sample/dataprotectionkeys/
core/src/Identity.IdentityServer.KeyManagement/sample/signingkeys/
core/src/Identity.IdentityServer.KeyManagement.EntityFramework/sample/identityserver4_log.txt
**/*.log
core/src/Identity.IdentityServer.Host/keys/
/core/docs/Configuration/~$identityserver-configuration.pptx
